@using DTO.Product;
@model IVS_QuocHuong.Model.CategorySearch
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p.visible {
        visibility: visible;
    }

    p.hidden {
        visibility: hidden;
    }
</style>
<div class="row">
    <div class="col-xs-12"> 
        @if (!string.IsNullOrEmpty((string)TempData["Error"]))
        {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> @TempData["Error"]
                </div>   
        }
        @if (!string.IsNullOrEmpty((string)TempData["Success"]))
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>OK!</strong> @TempData["Success"]
            </div>
        }
        <div class="row header smaller lighter blue">
            <Button class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("CategoryAdd", "Category")'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add category
            </Button>
        </div>
      
        @using (Html.BeginForm("CategorySearch", "Category", FormMethod.Get))
            {
            @Html.ValidationSummary(false);
         
            <div class="form-group row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-1">
                    <label>Code</label>
                </div>
                <label></label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(Model => Model.CategoryCode)
                </div>

                <div class="col-sm-1">
                    <label>Name</label>
                </div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(Model => Model.CategoryName)
                </div>

                <div class="col-sm-2">
                    <button type="submit" name="SearchButton" value="Search" class="btn btn-sm btn-pink"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                </div>
            </div>
        }
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
@if (Model.SearchResults != null && Model.SearchResults.Count > 0)
{

    using (Html.BeginForm("CategoryDeleteMulti", "Category", FormMethod.Post))
    {

        <h3 class="header smaller lighter blue">List of Caterogy</h3>
            <div class="table-header">
                @Html.DisplayFor(Model => Model.PageCount)  row(s) found!
            </div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" name="select-all" id="select-all" />
                                <span class="lbl"></span>
                            </label>
                        </th>       
                        <th class="hidden-380">Code</th>
                        <th class="hidden-380">Name</th>
                        <th class="hidden-480">Parent</th>
                        <th class="hidden-480">Description</th>
                        <th class="hidden-380">
                           
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {
                        foreach (CategoryDTO item in Model.SearchResults)
                        {
                            <tr >
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" name="CategoryID" id="CategoryID" value="@item.id"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                         
                                <td>
                                     <i class="ace-icon fa fa-search-plus bigger-130" id="show"></i> @item.code
                               
                                </td>
                                <td class="hidden-480">
                                    @item.name
                                </td>
                                <td class="hidden-480">
                                    @item.parent_name
                                </td>
                                <td class="hidden-480">
                                    @item.description
                                </td>

                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="@Url.Action("CategoryAdd", "Category")">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>

                                        <a class="green" href="@Url.Action("CategoryUpdate", "Category", new { @id = @item.id })">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red"  href="@Url.Action("CategoryDelete", "Category", new { @id = @item.id })">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                           

                        }

                        <tr data-depth="0" class="collapse level0">
                            <td colspan="6">
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <button type="submit" class="btn btn-danger"><i class="ace-icon glyphicon glyphicon-remove" onclick="return ConfirmDelete()"></i>Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
            <div>
                @Html.PagedListPager(Model.SearchResults,
   page => Url.Action("CategorySearch", new RouteValueDictionary()
   {
               { "Page", page },
               { "CategoryName", Model.CategoryName },
               { "CategoryCode", Model.CategoryCode },
               { "CategoryParent",Model.CategoryParent }

   })
 )
            </div>
}
        </div>
    </div>
 
</div>
<script src="~/Content/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  function ConfirmDelete()
  {
      var reply = confirm("Are you sure you want to delete this?");
      if(reply)
      {
         return true;
      }
      else
      {
         return false;
      }
  }
  $('#select-all').click(function(event) {
      if(this.checked) {
          $(':checkbox').prop('checked', true);
      } else {
          $(':checkbox').prop('checked', false);
      }
  });

      $('#dynamic-table').on('click', '.toggle', function () {
          //Gets all <tr>'s  of greater depth
          //below element in the table
          var findChildren = function (tr) {
              var depth = tr.data('depth');
              return tr.nextUntil($('tr').filter(function () {
                  return $(this).data('depth') <= depth;
              }));
          };

          var el = $(this);
          var tr = el.closest('tr'); //Get <tr> parent of toggle button
          var children = findChildren(tr);

          //Remove already collapsed nodes from children so that we don't
          //make them visible. 
          //(Confused? Remove this code and close Item 2, close Item 1 
          //then open Item 1 again, then you will understand)
          var subnodes = children.filter('.expand');
          subnodes.each(function () {
              var subnode = $(this);
              var subnodeChildren = findChildren(subnode);
              children = children.not(subnodeChildren);
          });

          //Change icon and hide/show children
          if (tr.hasClass('collapse')) {
              tr.removeClass('collapse').addClass('expand');
              children.hide();
          } else {
              tr.removeClass('expand').addClass('collapse');
              children.show();
          }
          return children;
      });
  
     
</script>






